{% extends 'base.html' %}

{% load static %}

<link rel="stylesheet" href="{% static 'login.css' %}">

{% block content %}
  <h2 class="px-3 pt-3">Enter new password</h2>
  <form class="px-3 py-1" method="POST" action="">
    {% csrf_token %}
    <div class="txt_field input-group mb-3">
      <span class="input-group-text bg-warning border border-warning" style="width: 50px;">
         <i class="fas fa-user"></i>
      </span>
      <input type="text" class="form-control" placeholder="New password" name="password" required>
 </div>
 <div class="d-flex justify-content-end">
   <button type="submit" class="btn btn-warning" style="width: 100px;">Change password</button>
</div>
  </form>
{% endblock %}


