{% extends 'base.html' %}
        {% block content %}
<br><br><br><br>
    <h3 class="section-heading text-center" >Upcomming Events</h3>
  <div class="row row-cols-1 row-cols-md-3 g-4 ">
        {% for event in events %}        
            <div class="col">
                <div class="card h-100 shadow-lg custom-shadow tile">
                <div class="card-body">
                <h3 class="card-title">{{ event.title }}</h3>
                <p class="card-text">Date: {{ event.date }}</p>
                <p class="card-text">Time: {{ event.time }}</p>
                <p class="card-text"><span class="fw-bold">Description:</span> {{ event.description }}</p>
                </div>
                </div>
              </div>
        {% endfor %}
    </div>
   {% endblock %}
