{% extends 'base.html' %}

    {% block content %}
    
    <h3 class="section-heading text-center mt-5" >Coffee Hub Rewards Program</h3>
    <p class="bg-dark text-light w-50 mt-5 " style="float: left;"><strong>Join Today and Start Earning Rewards!</strong><br>Sign up to our website for the Coffee Hub Rewards Program and begin earning points with every training.<br><em>Terms and conditions apply. Points are non-transferable.</em></p>
    <div class="row row-cols-1 row-cols-md-2 g-4 w-50  " style="height: 600px;  ">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card h-100 shadow-lg">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">Join the Coffee Hub Rewards Program in-store or online.</p>
          <a href="#" class="btn btn-primary btn-sm w-50">Sign Up</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card h-100 shadow-lg">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">Earn 1 point for every dollar spent on purchases.</p>
          <a href="#" class="btn btn-primary btn-sm w-50">Earn Points</a>
        </div>
      </div>
    </div>
    
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card h-100 shadow-lg">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">Exchange points for discounts, free trainings, and more.</p>
            <a href="#" class="btn btn-primary btn-sm w-50">Redeem Rewards</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card h-100 shadow-lg">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">Enjoy training treats, early access to new events, and special promotions.</p>
            <a href="#" class="btn btn-primary btn-sm w-50">Claim Benefits</a>
          </div>
        </div>
      </div>
  </div>
  <h1 class=" bg-green text-center mt-5">Claim Points</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4 " style="height: 400px;">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card h-100 shadow-lg">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text"> 0-100 points<br> - Special training treat<br> - Exclusive offers</p>
          <a href="#" class="btn btn-primary btn-sm w-50">Redeem</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card h-100 shadow-lg">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">101-250 points<br> - 5% off your next purchase<br> - Free training upgrade.</p>
          <a href="#" class="btn btn-primary btn-sm w-50">Redeem</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-100 shadow-lg">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">251+ points<br> - 10% off your next purchase<br> - Free specialty training of your choice.</p>
            <a href="#" class="btn btn-primary btn-sm w-50">Redeem</a>
          </div>
        </div>
      </div>
  </div>
   
{% endblock %}
{% block footer %}
{% endblock %}

